.app-container {
  display: flex;
  flex-direction: column;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  min-height: 100vh;
}

.match-game-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.game-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-display {
  width: 80%;
  height: 40%;
}

.tabs-list {
  display: flex;
  align-items: flex-end;
  padding-left: 0px;
  margin-top: 32px;
}

.images-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0px;
}
